<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NYC WELCOME PACKET{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% block header %}
                <header>
                    <h1>NYC WELCOME PACKET</h1>

                    <h2>EVERYTHING YOU NEED TO KNOW WHEN YOU ARRIVE IN NY</h2>
                </header>
            {% endblock %}
            {% block nav %}
                <nav class="nav" id="nav">
                    <ul>
                    {% for category in categories %}
                        <li class="category-{{ category.name }}" id="category-{{ category.name }}" data-index="{{ category.id }}">
                           <a href="{{ path('category', {'category_name': category.name}) }}">
                               {{ category.name }}
                           </a>
                        </li>
                    {% endfor %}
                    </ul>
            {% endblock %}
                </nav>
            {% block content_body %}{% endblock %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
