<div class="article" id="article">
    {% for article in articles %}
        <article class="{{ article.slug }}" id="{{ article.slug }}">
            <h3>{{ article.title }}</h3>
            <p id="resume-{{ article.slug }}" class="resume-{{ article.slug }}">
                {{ article.text|slice(0, 150) }}...
            </p>
            <!-- To change with a button -->
            <p><a href="{{ path('read_article', {'slug': article.slug}) }}">Read</a></p>
            {% if is_granted('ROLE_SUPER_ADMIN') %}

            <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
            <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

            {% endif %}

        </article>
    {% endfor %}
</div>